[submodule "deps/esp-idf"]
	path = deps/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "projects/ttgo-xy-cp-v1.1-freertos"]
	path = projects/ttgo-xy-cp-v1.1-freertos
	url = https://github.com/s0be/ttgo-xy-cp-v1.1-freertos.git
